h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    padding: 5px;
    padding-bottom: 50px;
    max-width: 1000px;
    min-width: 50px;
    text-align: center;
    margin: auto;
    margin-top: 35px;

}

label {
    color: white;
}

input {
    color: peachpuff;
    background-color: black;
    margin-bottom: 15px;
}

button {
    width: 125px;
    padding: 3px;
    color: lightgray;
    background-color: black;
}

.info {
    padding: 10px;
    display: table;
    margin: auto;
    border: 2px solid grey;
}

#result {
    margin-top: 35px;
    padding: 50px;
    border: 2px solid palegreen;
}

body {
    background-color: black;
}